{% macro searchbar() %}
<div id="search_wrapper">
  <svg id="search_icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
  <input id="search" type="text" placeholder="Search for a pokemon" />
</div>
<!-- Mobile toggle logic -->
<script>
  if (window.innerWidth < 768) {
    let search = document.getElementById("search");
    let wrapper = document.getElementById("search_wrapper");
    search.addEventListener("click", (e) => {
      e.stopPropagation();
      wrapper.style.top = "1rem";
      wrapper.style.right = "1rem";
      wrapper.style.width = "calc(100% - 2rem)";
      wrapper.style.position = "absolute";
    });

    document.addEventListener("click", (e) => {
      wrapper.style.width = "3rem";
      setTimeout(() => {
        wrapper.style.top = "0rem";
        wrapper.style.right = "0rem";
        wrapper.style.position = "relative";
      }, 300);
    });
  }
</script>
{% endmacro %}