#poke_info {
  display: flex;
  align-items: start;
  justify-content: center;
}

@media (max-width: 768px) {
  #poke_info {
    flex-direction: column;
    padding: 1rem;
  }
}

#ability-list {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}
