html {
  color-scheme: light dark;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
}

@media (min-width: 768px) {
  body {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1024px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 1rem;
  height: 5rem;
  z-index: 50;
  top: 0;
}

nav {
  align-items: center;
  display: flex;
  gap: 1rem;
}

footer {
  opacity: 0.5;
  padding: 1rem 0;
  text-align: center;
}

h1 {
  margin: 0;
  height: 3rem;
  width: fit-content;
  padding: 0.25rem 1rem;
  
  background: #fff4;
  backdrop-filter: blur(1rem) saturate(180%);
  box-shadow: 0 1rem 1rem -0.5rem #0002;

  border: 2px solid #3334;
  border-radius: 999rem;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  h1 {
    background: #1114;
    border: 2px solid #fff4;
    backdrop-filter: blur(1rem) saturate(180%);
    /* EC/optional: text gradient */
    background: linear-gradient(to right, #f88, #fa4, #f8f, #88f);
    background-clip: text;
    color: transparent;
  }
}